.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.centered {
  margin: 100px;
  /* not sure how to center the recipe card on the recipe details page */
}

.card {
  height: 31rem;
}

.card-image {
  width: 66%;
  height: 66%;
  object-fit: cover;
  margin: 1rem 2rem;
}

.card-group {
  padding: 4rem 4rem;
}

.header {
  font-size: 40px;
}

.overflow-text {
  font-size: small;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
